.button {
  background-color: #f4a261;
  border-radius: 5px;
  border-style: none;
  padding: 8px;
}
.text {
  flex-wrap: wrap;
  font-size: large;
  padding: 10px;
}
.br {
  display: flex;
  left: 0;
  right: 0;
  justify-content: space-around;
}
.cardJokes {
  background-color: chartreuse;
  width: 15px;
}
.cardJokes {
  /* max-width: 45%;
  max-height: 45%;
  border-radius: 20%;
  background-color: #f4a261;
  opacity: 75%;
  padding: 4px; */
}
