.main {
  background-color: #2a9d8f;
  height: 100vh;
  width: 100vw;
}

.surprise {
  font-style: italic;
  text-align: center;
}

.welcome {
  font-style: italic;
  text-align: center;
}

.input {
  font-style: italic;
  text-align: center;
  padding-bottom: 10%;
}
.cards {
  background-color: #e9c46a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100vh;
  animation-duration: 3s;
  animation-name: slidein;
  z-index: 0;
}
@keyframes slidein {
  from {
    margin-top: 100%;
  }
  100% {
    margin-left: 0%;
  }

  to {
    margin-top: 0%;
  }
}

.card {
  max-width: 50%;
  max-height: 50%;
}

.mainCard {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #e9c46a;
  border-radius: 2px;
  z-index: 666;
}

.imgCard {
  max-width: 40%;
  max-height: 40%;
  border-radius: 20%;
  background-color: #f4a261;
}

.cardMeteo {
  max-width: 80%;
  max-height: 80%;
  border-radius: 20%;
  opacity: 75%;
}

.hiddenCard {
  display: none;
}

.sparkleCard {
  width: 50%;
  height: 50%;
  border-radius: 20%;
  opacity: 75%;
}
