.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #2a9d8f;
  align-items: center;
  color: black;
  background-color: #2a9d8f;
}

.navbar_links {
  padding: 0 0.3rem;
  color: inherit;
}

.navbar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

.nav_logo {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100vw;
  padding: 0;
}
.logo_container {
  flex: 6;

  padding-left: 40vw;
  padding-top: 10vw;
}
.menu_container {
  display: flex;
  z-index: 6;
  flex: 1;
}

@media screen and (max-width: 767px) {
  .navbar_links {
    border-radius: 5%;
    display: flex;
    right: -100vw;
    top: 69px;
    width: 0;
    visibility: hidden;

    transition: all 0.9s ease-in-out;
    list-style: none;
  }

  .show-nav .navbar_links {
    width: 13vw;
    visibility: visible;
    background-color: #e9c46a;
  }
  .navbar_links {
    display: block;
    padding: 1.6rem;
  }

  .navbar_burger {
    display: block;
    padding-top: 2vw;
    padding-right: 12vw;
  }
  .navbar_burger:hover {
    cursor: pointer;
    top: 1rem;
  }
  .burger-nav {
    display: block;
    padding: 1px 20px 1px 20px;
    height: 7px;
    position: relative;
    border-radius: 3px;
    background: #e9c46a;
  }

  .burger-nav::before,
  .burger-nav::after {
    display: block;
    padding: 2px 20px 2px 20px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #e9c46a;
    transition: all 0.5s ease-in-out;
  }
  .burger-nav::before,
  .burger-nav::after {
    content: '';
    position: absolute;
    left: 0;
  }
  .burger-nav::before {
    transform: translateY(-12px);
  }
  .burger-nav::after {
    transform: translateY(12px);
  }

  .show-nav .burger-nav {
    background: transparent;
  }

  .show-nav .burger-nav::before {
    transform: rotate(45deg);
  }

  .show-nav .burger-nav::after {
    transform: rotate(-45deg);
  }

  .nav_logo {
    width: 80px;
    height: 80px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
